# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Pytest / Reports
.pytest_cache/
reports/*.html
reports/*.log
.coverage
htmlcov/

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
